@model IEnumerable<Smoothboard.Models.Faq>

@{
    ViewData["Title"] = "FAQs";
}

<h1>FAQs</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vraag) 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Antwoord)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vraag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Antwoord)
            </td>
        </tr>
}
    </tbody>
</table>
<br />
