@model IEnumerable<Smoothboard.Models.Surfboard>

@{
    ViewData["Title"] = "Overzicht";
}

<h1>Faqs</h1>

<div class="container">
        <theader>Vraag</theader>
        <theader>Antwoord</theader>
</div>





