@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Smoothboard Stylers</h1>
    <p>Customize your board</p>
</div>
<div class="text-center">
    <img class="img-fluid" src="./css/Foto/surfboards.jpg" alt="Foto's van surfboards" />
</div>

