@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Dev bouwde de Smoothboard Stylers app als a Commercialapp. Deze SERVICE wordt geleverd door en is bedoeld voor gebruik zoals het is.

    Deze pagina wordt gebruikt om bezoekers van de website te informeren over mybeleid met betrekking tot het verzamelen, gebruiken en vrijgeven van persoonlijke informatie als iemand beslist om te gebruiken my Service.

    Als je ervoor kiest om te gebruiken my Service, gaat u akkoord met het verzamelen en gebruiken van informatie met betrekking tot dit beleid. De Persoonlijke Informatie dat I verzamelen wordt gebruikt voor het leveren en verbeteren van de service.I zal uw informatie niet gebruiken of delen met iemand anders dan zoals beschreven in dit Privacybeleid.

    De voorwaarden die in dit privacybeleid worden gebruikt, hebben dezelfde betekenis als in onze Algemene voorwaarden, die te vinden is op Smoothboard Stylers tenzij anders gedefinieerd in dit privacybeleid.

    Informatie verzamelen en gebruiken

    Voor een betere ervaring tijdens het gebruik van onze service, I kan vereisen dat u ons bepaalde persoonlijk identificeerbare informatie verstrekt . De informatie die I aanvraag is retained on your device and is not collected by me in any way




    De app maakt gebruik van services van derden die mogelijk informatie verzamelen die wordt gebruikt om u te identificeren.bouwde de Smoothboard Stylers app als a Commercialapp. Deze SERVICE wordt geleverd door en is bedoeld voor gebruik zoals het is.

Deze pagina wordt gebruikt om bezoekers van de website te informeren over mybeleid met betrekking tot het verzamelen, gebruiken en vrijgeven van persoonlijke informatie als iemand beslist om te gebruiken my Service.

Als je ervoor kiest om te gebruiken my Service, gaat u akkoord met het verzamelen en gebruiken van informatie met betrekking tot dit beleid. De Persoonlijke Informatie dat I verzamelen wordt gebruikt voor het leveren en verbeteren van de service.I zal uw informatie niet gebruiken of delen met iemand anders dan zoals beschreven in dit Privacybeleid.

De voorwaarden die in dit privacybeleid worden gebruikt, hebben dezelfde betekenis als in onze Algemene voorwaarden, die te vinden is op Smoothboard Stylers tenzij anders gedefinieerd in dit privacybeleid.

Informatie verzamelen en gebruiken

Voor een betere ervaring tijdens het gebruik van onze service, I kan vereisen dat u ons bepaalde persoonlijk identificeerbare informatie verstrekt . De informatie die I aanvraag is retained on your device and is not collected by me in any way

 


De app maakt gebruik van services van derden die mogelijk informatie verzamelen die wordt gebruikt om u te identificeren.

Loggegevens

Iwil je informeren dat wanneer je het gebruikt myService, in het geval van een fout in de appI verzamel gegevens en informatie (via producten van derden) op uw telefoon met de naam Loggegevens. Deze loggegevens kunnen informatie bevatten zoals uw apparaat Internet Protocol ("IP") adres, apparaatnaam, besturingssysteemversie, de configuratie van de app bij gebruikmyService, de tijd en datum van uw gebruik van de Service en andere statistieken.

koekjes

Cookies zijn bestanden met een kleine hoeveelheid gegevens die vaak wordt gebruikt als anonieme unieke ID. Deze worden verzonden naar uw browser vanaf de website die u bezoekt en worden opgeslagen op het interne geheugen van uw apparaat.

Deze Service gebruikt deze "cookies" niet expliciet. De app kan echter de code van derden en de bibliotheken die "cookies" gebruiken gebruiken om informatie te verzamelen en om hun diensten te verbeteren. U hebt de mogelijkheid deze cookies te accepteren of te weigeren en te weten wanneer een cookie wordt naar uw apparaat verzonden. Als u ervoor kiest om onze cookies te weigeren, kunt u sommige delen van deze service mogelijk niet gebruiken.

Dienstverleners

I kan om de volgende redenen gebruikmaken van bedrijven en personen van derden:

Om onze service te vergemakkelijken;
Om de Service namens ons te leveren;
Servicegerelateerde services uitvoeren; of
Om ons te helpen bij het analyseren van hoe onze service wordt gebruikt.
I wil gebruikers van deze Service informeren dat deze derden toegang hebben tot uw Persoonlijke Informatie. De reden is om de taken uit te voeren die in onze naam aan hen zijn toegewezen. Ze zijn echter verplicht om de informatie voor geen enkel ander doel openbaar te maken of te gebruiken.

Veiligheid

I waardeer uw vertrouwen in het verstrekken van uw persoonlijke informatie, dus we streven ernaar om commercieel aanvaardbare middelen te gebruiken om het te beschermen. Maar vergeet niet dat geen enkele wijze van verzending via internet of methode van elektronische opslag 100% veilig en betrouwbaar is, en I kan de absolute veiligheid niet garanderen.

Links naar andere sites

Deze Service kan links naar andere sites bevatten. Als u op een link van derden klikt, wordt u naar die site geleid. Merk op dat deze externe sites niet worden beheerd door me.daaromI raad u ten zeerste aan om het Privacybeleid van deze websites te lezen.I hebben geen controle over en nemen geen verantwoordelijkheid voor de inhoud, het privacybeleid of de praktijken van sites of services van derden.

Privacy van kinderen

Deze Services richten zich niet tot iemand onder de 13 jaar.I verzamel niet bewust persoonlijk identificeerbare informatie van kinderen onder de 13. In het gevalIontdek dat een kind jonger dan 13 jaar heeft gezorgdme met persoonlijke informatie,Iverwijder dit onmiddellijk van onze servers. Als u een ouder of voogd bent en u weet dat uw kind ons persoonlijke informatie heeft verstrekt, neem dan contact op met mezodat Izal in staat zijn om noodzakelijke acties te doen.

Wijzigingen in dit privacybeleid

Ikan ons privacybeleid van tijd tot tijd bijwerken. Daarom wordt u geadviseerd deze pagina regelmatig te controleren op eventuele wijzigingen. Izal u op de hoogte brengen van eventuele wijzigingen door het nieuwe Privacybeleid op deze pagina te plaatsen. Deze wijzigingen worden van kracht onmiddellijk nadat ze op deze pagina zijn gepost.

Neem contact met ons op

Als u vragen of opmerkingen heeft over myPrivacybeleid, aarzel niet om contact op te nemen me.

    Loggegevens

    Iwil je informeren dat wanneer je het gebruikt myService, in het geval van een fout in de appI verzamel gegevens en informatie (via producten van derden) op uw telefoon met de naam Loggegevens. Deze loggegevens kunnen informatie bevatten zoals uw apparaat Internet Protocol ("IP") adres, apparaatnaam, besturingssysteemversie, de configuratie van de app bij gebruikmyService, de tijd en datum van uw gebruik van de Service en andere statistieken.

    koekjes

    Cookies zijn bestanden met een kleine hoeveelheid gegevens die vaak wordt gebruikt als anonieme unieke ID. Deze worden verzonden naar uw browser vanaf de website die u bezoekt en worden opgeslagen op het interne geheugen van uw apparaat.

    Deze Service gebruikt deze "cookies" niet expliciet. De app kan echter de code van derden en de bibliotheken die "cookies" gebruiken gebruiken om informatie te verzamelen en om hun diensten te verbeteren. U hebt de mogelijkheid deze cookies te accepteren of te weigeren en te weten wanneer een cookie wordt naar uw apparaat verzonden. Als u ervoor kiest om onze cookies te weigeren, kunt u sommige delen van deze service mogelijk niet gebruiken.

    Dienstverleners

    I kan om de volgende redenen gebruikmaken van bedrijven en personen van derden:

    Om onze service te vergemakkelijken;
    Om de Service namens ons te leveren;
    Servicegerelateerde services uitvoeren; of
    Om ons te helpen bij het analyseren van hoe onze service wordt gebruikt.
    I wil gebruikers van deze Service informeren dat deze derden toegang hebben tot uw Persoonlijke Informatie. De reden is om de taken uit te voeren die in onze naam aan hen zijn toegewezen. Ze zijn echter verplicht om de informatie voor geen enkel ander doel openbaar te maken of te gebruiken.

    Veiligheid

    I waardeer uw vertrouwen in het verstrekken van uw persoonlijke informatie, dus we streven ernaar om commercieel aanvaardbare middelen te gebruiken om het te beschermen. Maar vergeet niet dat geen enkele wijze van verzending via internet of methode van elektronische opslag 100% veilig en betrouwbaar is, en I kan de absolute veiligheid niet garanderen.

    Links naar andere sites

    Deze Service kan links naar andere sites bevatten. Als u op een link van derden klikt, wordt u naar die site geleid. Merk op dat deze externe sites niet worden beheerd door me.daaromI raad u ten zeerste aan om het Privacybeleid van deze websites te lezen.I hebben geen controle over en nemen geen verantwoordelijkheid voor de inhoud, het privacybeleid of de praktijken van sites of services van derden.

    Privacy van kinderen

    Deze Services richten zich niet tot iemand onder de 13 jaar.I verzamel niet bewust persoonlijk identificeerbare informatie van kinderen onder de 13. In het gevalIontdek dat een kind jonger dan 13 jaar heeft gezorgdme met persoonlijke informatie,Iverwijder dit onmiddellijk van onze servers. Als u een ouder of voogd bent en u weet dat uw kind ons persoonlijke informatie heeft verstrekt, neem dan contact op met mezodat Izal in staat zijn om noodzakelijke acties te doen.

    Wijzigingen in dit privacybeleid

    Ikan ons privacybeleid van tijd tot tijd bijwerken. Daarom wordt u geadviseerd deze pagina regelmatig te controleren op eventuele wijzigingen. Izal u op de hoogte brengen van eventuele wijzigingen door het nieuwe Privacybeleid op deze pagina te plaatsen. Deze wijzigingen worden van kracht onmiddellijk nadat ze op deze pagina zijn gepost.

    Neem contact met ons op

    Als u vragen of opmerkingen heeft over myPrivacybeleid, aarzel niet om contact op te nemen me.
    </p>

