@model IEnumerable<Smoothboard.Models.Surfboard>

@{
    ViewData["Title"] = "Overzicht";
}

<h1>Overzicht</h1>

<br />

@foreach (var item in Model)
{
        <td>
            @Html.DisplayFor(modelItem => item.Naam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Beschrijving)
        </td>
        <td>
            @Html.DisplayFor(ModelItem => item.Materiaal)
        </td>
        <td>
            @Html.DisplayFor(ModelItem => item.Prijs)
        </td>
}



