@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Spicin up your Board</h1>
    <p>Smoothboard Stylers</p>
</div>
 @await Component.InvokeAsync("Filialen")
